<h1>New Addition</h1>
<form action = "/wizard_add"> 
<label for = "firstaddval" >Add this:</label>
<input id = "firstaddval" name ="first_num">
<label for = "secondaddval" >to this:</label>
<input id ="secondaddval" name ="second_num">
<button>
  Add
</button>
</form>