<h1>New Division</h1>
<form action = "/wizard_divide"> 
<label for = "firstdivideval" >Divide this:</label>
<input id = "firstdivideval" name ="first_num">
<label for = "seconddivideval" >by this:</label>
<input id ="seconddivideval" name ="second_num">
<button>
  Divide!
</button>
</form>