<h1>New Subtraction</h1>
<form action = "/wizard_subtract"> 
<label for = "firstsubval" >Subtract this:</label>
<input id = "firstsubval" name ="first_num">
<label for = "secondsubval" >from this:</label>
<input id ="secondsubval" name ="second_num">
<button>
  Subtract!
</button>
</form>